POSTGRES_DB=ваш_вариант
POSTGRES_USER=ваш_вариант
POSTGRES_PASSWORD=ваш_вариант
DB_NAME=ваш_вариант
DB_HOST=ваш_вариант
DB_PORT=ваш_вариант
SECRET_KEY='ваш_вариант'
DEBUG=Flase 
ALLOWED_HOSTS=список_ваших_хостов 
